body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #222222;
}

* {
  box-sizing: border-box;
  user-select: none;
}

p {
  display: block;
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

::-webkit-scrollbar { 
  height: 5px; 
  border-radius: 5px; 
}

::-webkit-scrollbar-button { 
  height: 0px; 
  border-radius: 20px; 
}

::-webkit-scrollbar-track { 
  width: 10px; 
  border-radius: 5px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  height: 10px; 
  border-radius: 5px;
  background-color: #5c5c5c;
}
